.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.areaa{
    background: #202355;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.card {
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
   
    margin: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.4s; /* Efecto de transición */
    width: 250px; /* Ajusta el ancho como desees */
    height: 350px; /* Ajusta el alto como desees */
}
                .card:hover {
                    transform: scale(1.05); /* Efecto zoom */
                }
                
                .card img { 
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-bottom: 15px;
            display: block; /* Asegurarse de que sea un bloque */
            margin-left: auto; /* Ajustes de margen para centrar */
            margin-right: auto; /* Ajustes de margen para centrar */
            border: 4px solid #3498db; /* Cambia el color y el grosor del contorno según tus preferencias */
        }
            .card h3 {
                font-size: 20px;
                margin: 10px 0;
            }
            .card p {
                color: #666;
                font-size: 14px;
            }
            .card button {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 10px;
            }
            .card button:hover {
                background-color: #0056b3;
            }
.content-card {

display: flex;
flex-direction: column;
align-items: flex-start; /* Alinea el contenido a la izquierda */
}

            /* Icono personalizado antes de cada etiqueta con color específico */
            .card .name-icon {
                font-size: 18px; /* Ajusta el tamaño de la fuente */
                color: #333; /* Cambia el color del texto */
                margin: 10px 0; /* Ajusta el margen superior e inferior */
                text-align: center; /* Centra el texto si es necesario */
            }
            
.name-icon::before {
    content: "👤"; /* Icono para el nombre */
    color: #28a745; /* Verde */
    margin-right: 8px;
}

.role-icon::before {
    content: "💼"; /* Icono para el rol */
    color: #ffa500; /* Naranja */
    margin-right: 8px;
}

.experience-icon::before {
    content: "⏳"; /* Icono para la experiencia */
    color: #007bff; /* Azul */
    margin-right: 8px;
}

.languages-icon::before {
    content: "💻"; /* Icono para lenguajes */
    color: #d8a4eb; /* Lila */
    margin-right: 8px;
}